/*$wi-red: #c8181e;
$wi-red-dark: #ac0006;
$white: #FFF;
$black: #000;
$wi-gray: #999999;

$font-family-sans-serif: "proxima-nova";
$font-family-serif: "adelle";

$navbar-border-radius: 0;
$navbar-inverse-brand-color: #FFF;
$navbar-margin-bottom: 0;

$brand-primary: $wi-red;

$body-bg: #111;
$text-color: #FFF;

$headings-font-weight: 600;*/